[submodule "lib-blockchain"]
	path = lib-blockchain
	url = https://github.com/sovereign-net/lib-blockchain.git
	branch = peters
[submodule "lib-consensus"]
	path = lib-consensus
	url = https://github.com/sovereign-net/lib-consensus.git
[submodule "lib-crypto"]
	path = lib-crypto
	url = https://github.com/sovereign-net/lib-crypto.git
[submodule "lib-economy"]
	path = lib-economy
	url = https://github.com/sovereign-net/lib-economy.git
[submodule "lib-identity"]
	path = lib-identity
	url = https://github.com/sovereign-net/lib-identity.git
[submodule "lib-network"]
	path = lib-network
	url = https://github.com/sovereign-net/lib-network.git
[submodule "lib-proofs"]
	path = lib-proofs
	url = https://github.com/sovereign-net/lib-proofs.git
[submodule "lib-protocols"]
	path = lib-protocols
	url = https://github.com/sovereign-net/lib-protocols.git
[submodule "lib-storage"]
	path = lib-storage
	url = https://github.com/sovereign-net/lib-storage.git
[submodule "zhtp"]
	path = zhtp
	url = https://github.com/sovereign-net/zhtp.git
